extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	h1.Ok Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto mollitia officiis omnis neque molestiae sit quia. Nobis, labore! Tempore hic, dignissimos dolore quibusdam iusto rem molestias. Quidem nostrum maxime sapiente.